/* Rules of colors for new Image KraussMaffei
orange=rgb(255,131,0);
lightBlue=rgb(0,120,202);
darkBlue=rgb(0,50,90);
darkGrey=rgb(134,134,134)
lightGrey=rgb(204,204,204)
fontColor=rgb(65,65,65)
typeFont= Arial
*/
body{
    text-align: center;
    width: 850px;
    margin:20px auto; /* se puede usar float:left/rigth */
    background-image: url("../pictures/newBackground.png");
    background-position: center;
    font-family: Arial;
}
header{
    color: rgb(255, 131, 0);
}
.twoColumns{
    overflow: auto;
    display: flex; /*para autoajustar el contenido a la tabla*/
    clear: both;
}

.leftColumn{
    float: left;
}
.rightColumn{
    float: right;    
    text-align: justify;
}

.titleParagraph{
    color: rgb(255, 131, 0);
}
.textParagraph{
    color:white;
    margin: 20px; 
}

footer{
    clear: both;
    color: rgb(0, 120, 202);
    font-style: oblique;
}
.button{
    background: rgb(255, 131, 0);
    opacity: .5;
    border: none;
    border-radius: 3em;
    color: rgb(0, 120, 202);
    cursor: pointer;
    font-size: 1.5em;
    width: 300px;
    height:60px;
    /* transition: all .3s; */
}

/* CSS usado en funciones jQuery*/
.borderImage{
 border:1px solid rgb(65,65,65);
    border-radius: 8px;
    box-shadow: rgb(65,65,65) 3px 5px 8px;
}

.btnActive{
    opacity: 1;
}

.btnInactive{
    opacity: .5;
}